$speed-limit-height: 72px;

.over-limit {
    align-items: center;
    justify-self: end;
    color: #ff3b30;
    font-size: 2rem;
    font-weight: 800;
}

.speed-limit {
    color: #1c1c1e;
    font-weight: 800;
    letter-spacing: -0.8px;
    font-size: 3.2rem;
    font-family:
        "Inter",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        sans-serif;

    max-width: 100%;
    text-align: center;
    line-height: 1;
}

.speed-limit-sign {
    position: absolute;
    bottom: 25px;
    left: 22px;
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

    background-color: #ffffff;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 25px;

    &.circle {
        border: 5px solid #ff3b30;
        border-radius: 100px;

        width: $speed-limit-height;
        height: calc($speed-limit-height - 3px);
    }

    &.square {
        border: 3px solid #1c1c1e;

        border-radius: 14px;

        width: calc($speed-limit-height - 12px);
        height: $speed-limit-height;
    }
}

.speed-limit-over-limit {
    position: absolute;

    background-color: #1c1c1e;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.circle {
        top: calc(-1 * ($speed-limit-height - 46px));
        right: calc(-1 * ($speed-limit-height - 55px));

        width: (calc($speed-limit-height - 28px));
        height: (calc($speed-limit-height - 28px));

        border: 3.5px solid #3a3a3c;
        border-radius: 100px;
    }

    &.square {
        top: calc(-1 * ($speed-limit-height - 47px));
        right: calc(-1 * ($speed-limit-height - 56px));

        width: (calc($speed-limit-height - 39px));
        height: (calc($speed-limit-height - 30px));

        border: 2px solid #3a3a3c;

        border-radius: 8px;
    }
}
